.cuadradoRojo{
  background-color: red;
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}
/* Estilo general del header */
header {
  background-color: #f8f9fa; /* Fondo claro */
  border-bottom: 2px solid #007bff; /* Línea azul */
}

/* Estilo para el logo */
header .navbar-brand img {
  border-radius: 10%; /* Bordes ligeramente redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

/* Título */
header .navbar-brand span {
  color: #007bff; /* Azul UTB */
  font-weight: bold;
}

/* Hover en íconos */
header .bi:hover {
  color: #0056b3; /* Azul más oscuro */
  cursor: pointer;
}
